body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

#app {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0
    , 0, 0.1);
    width: 50%;
}

h1 {
    color: #333;
}

#controls {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-right: 10px;
}

#todoForm {
    display: flex;
    margin-bottom: 20px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.addButton {
    background-color: #4c65af;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.addButton:hover {
    background-color: #6345a0;
}

#tasks {
    text-align: left;
}

h2 {
    color: #333;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

li:hover {
    background-color: #f0f0f0;
}

button {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.completeCheckbox {
    margin-right: 10px;
}

.completeButton {
    background-color: #2196f3;
    color: #fff;
}

.deleteButton {
    background-color: #f44336;
    color: #fff;
}

.editButton {
    background-color: rgb(255, 135, 7);
    color: #dcdcdc;
}

#editPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

#editPopup input {
    width: 100%;
    margin-bottom: 10px;
}

#editPopup button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 3px;
    margin-right: 10px;
}

#editPopup button:hover {
    background-color: #45a049;
}
